@import "../../../scss-variables.scss";

header {
    /* margin-bottom: 7rem !important; */
    // margin: 1rem 0;
    background-color: $main-dark;
    padding: 1rem;
    // border-bottom: 1px solid $main-light;
    position: relative;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 5;
    width: 100%;
    // opacity: 0.75;
    transition: 0.2s ease-in;

    display: flex;
    justify-content: space-between;

    animation: slide-from-top 0.2s ease-out;

    a {
        h1 {
            margin-left: 0.5rem;
            font-size: 1.5rem;
            color: $main-light;
        }
    }

    nav {
        ul {
            height: 100%;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            padding: 0;
            li a {
                // background-color: $main-light;
                transition: 0.2s ease-in;
                padding: 0.5rem 1rem;
                // border-radius: 0.5rem;
                color: $main-light;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}
.header-scrolled {
    background-color: $main-transparent;
    padding: 0.25rem;

    ul {
        li a {
            padding: 0.25rem 1rem;
            border-radius: 0;
        }
    }
}
.dropdown-button {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10px;
    display: none;
    background-color: transparent;

    svg {
        height: 100%;
        width: 100%;
        color: $main-light;

        &:hover {
            opacity: 0.9;
        }

        animation: rotate 0.2s ease-in;
    }
}
.dropdown-opened {
    display: block !important;
    animation: appear 0.4s ease-in;
}

@media screen and (max-width: 500px) {
    header {
        flex-direction: column;
        a {
            width: fit-content;
        }
        nav {
            display: none;
            ul {
                padding-top: 10px;
                flex-direction: column;
                li {
                    width: 80vw;
                    & > a {
                        width: 100%;
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
    }
    .header-scrolled {
        nav {
            // background-color: $main-transparent;
            padding: 0.25rem;
        }
        .dropdown-button {
            svg {
                color: $main-dark;
            }
        }
    }

    .dropdown-button {
        display: block;
    }
}

@keyframes slide-from-top {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(180deg);
    }
}
