@import "../../scss-variables.scss";

.info-page {
    // background-color: red;
    .small-info {
        .title {
            .sub-title {
                color: $main-dimmed;
            }
        }
        .score {
        }
        .not-available {
            color: $main-dimmed;
        }
    }
}

.genre-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.relations {
    & > h3 {
        margin: 2rem auto 1rem;
        text-align: center;
    }
}
.relation-list {
    width: fit-content;
    margin: auto;
    display: grid;
    justify-content: center;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1200px) {
    .relation-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 1000px) {
    .relation-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 800px) {
    .relation-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 600px) {
    .relation-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
