@import "../../../scss-variables.scss";

.card {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    cursor: pointer;
    transition: 0.2s ease-in;

    .card-image {
        width: 200px;
        height: 300px;
        box-shadow: 0 0 10px 1px $shadow-color;
        height: 300px;
        transition: 0.2s ease-in;
        background-size: cover;
        background-position: center;
    }
    .card-title {
        color: $main-dark;
        font-size: 1rem;
        padding: 0.3rem 0.6rem 0.3rem 0;
        font-weight: bold;
    }
    &:hover,
    &:active {
        .card-image {
            // box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 15px 5px $shadow-color;
        }
    }
}

@media screen and (max-width: 1200px) {
    .card {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 1000px) {
    .card {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 800px) {
    .card {
        width: 180px;
        height: auto;
        .card-title {
            font-size: 0.9rem;
        }
        .card-image {
            width: 180px;
            height: 260px;
        }
    }
}
@media screen and (max-width: 600px) {
    .card {
        width: 140px;
        height: auto;
        // height: 350px;
        .card-title {
            font-size: 0.8rem;
        }
        .card-image {
            width: 140px;
            height: 210px;
            // height: auto;
        }
    }
}
