@import "../../../scss-variables.scss";

.anime-genre {
    background-color: $anime-highlight;
    color: $main-light;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
    transition: 0.2s ease-in;

    &:hover,
    &:active {
        opacity: 0.8;
    }
}
// .anime-genre:hover {
//     background-color: $main-light;
//     color: $anime-highlight;
// }
// .anime-genre:active {
//     background-color: #3b7691;
// }
