@import "../../../scss-variables.scss";

.anime-genre {
    background-color: $anime-highlight;
    color: $main-light;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
}
.anime-genre:hover {
    background-color: $main-light;
    color: $anime-highlight;
}
// .anime-genre:active {
//     background-color: #3b7691;
// }
