@import "../../../scss-variables.scss";

.anime-genre {
    background-color: $anime-highlight;
    color: $main-light;
    cursor: pointer;
}
.anime-genre:hover {
    background-color: $main-light;
    color: $anime-highlight;
}
// .anime-genre:active {
//     background-color: #3b7691;
// }
