.card-holder {
    width: fit-content;
    margin: auto;
    display: grid;
    justify-content: center;
    gap: 0.5rem;
    grid-template-columns: repeat(5, 1fr);
    // width: 80%;
}
.centered {
    // width: 80%;
    // margin: auto;
    // align-items: center;
}

@media screen and (max-width: 1200px) {
    .card-holder {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 1000px) {
    .card-holder {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 800px) {
    .card-holder {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 600px) {
    .card-holder {
        grid-template-columns: repeat(2, 1fr);
    }
}
