@import "../../scss-variables.scss";

.select-holder {
    text-align: center;
    white-space: nowrap;

    .type-select {
        border: none;
        font-size: 1.1rem;
        color: $main-light;
        background-color: $main-dark;
        border-radius: 0.25rem;
        font-weight: bold;
        padding: 0 0.25rem;
        margin: 0.5rem;
    }
}

.search-bar-holder {
    margin: 2.5rem 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    .search-bar {
        // margin: 2.5rem auto;

        display: block;
        outline: none;
        border: none;
        // border: 2px solid $main-dark;
        text-align: center;
        padding: 0.5rem;
        box-shadow: 0 0 5px 1px $shadow-color;
        border-radius: 0.5rem;
        transition: 0.2s ease-in;

        &:hover,
        &:active {
            box-shadow: 0 0 5px 2px $shadow-color;
        }
        &:focus {
            box-shadow: 0 0 5px 4px $shadow-color;
        }
    }
    .square-button {
        height: 100%;
        padding: 0rem 1rem;
        box-shadow: 0 0 5px 1px $shadow-color;
        border-radius: 0.5rem;
        background-color: white;

        &:hover,
        &:active {
            box-shadow: 0 0 5px 2px $shadow-color;
        }
        &:focus {
            box-shadow: 0 0 5px 4px $shadow-color;
        }
    }
}

.search-setting-list {
    display: flex;
    gap: 0.5rem;
    // grid-template-columns: repeat(4, 1fr);
    text-align: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto 2rem;
}
