@import "../../scss-variables.scss";

.select-holder {
    text-align: center;
    white-space: nowrap;
    margin-top: 5rem;

    .type-select {
        border: none;
        font-size: 1.1rem;
        color: $main-light;
        background-color: $main-dark;
        font-weight: bold;
        padding: 0 0.25rem;
        margin: 0.5rem;
        box-shadow: 0 0 5px 1px $shadow-color;

        &:hover {
            box-shadow: 0 0 5px 2px $shadow-color;
        }
        &:active {
            box-shadow: 0 0 5px 2px $shadow-color;
        }
        &:focus {
            box-shadow: 0 0 5px 4px $shadow-color;
        }
    }
}

.search-bar-holder {
    margin: 2rem 0 2.5rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    .search-bar {
        display: block;
        outline: none;
        border: none;
        text-align: center;
        padding: 0.5rem;
        box-shadow: 0 0 5px 1px $shadow-color;
        transition: 0.2s ease-in;

        &:hover,
        &:active {
            box-shadow: 0 0 5px 2px $shadow-color;
        }
        &:focus {
            box-shadow: 0 0 5px 4px $shadow-color;
        }
    }
    .square-button {
        height: 100%;
        padding: 0rem 1rem;
        box-shadow: 0 0 5px 1px $shadow-color;
        border-radius: 0.5rem;
        background-color: white;
        display: none;

        &:hover,
        &:active {
            box-shadow: 0 0 5px 2px $shadow-color;
        }
        &:focus {
            box-shadow: 0 0 5px 4px $shadow-color;
        }
    }
}

.search-setting-list {
    display: flex;
    gap: 0.5rem;
    text-align: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto 2rem;
}

@media screen and (max-width: 800px) {
    .search-setting-list {
        flex-direction: column;
        width: 50%;
    }
}
@media screen and (max-width: 500px) {
    .search-setting-list {
        flex-direction: column;
        width: 90%;
    }
}
