@import "../../../scss-variables.scss";

.page-select {
    width: fit-content;
    margin: 2.5rem auto;
    display: flex;
    gap: 0.25rem;
}
.page-select a {
    border-radius: 0.5rem;
    color: $main-light;
    background-color: $main-dark;
    padding: 0.5rem 1rem;
}
.on-this-page {
    color: $main-dark !important;
    background-color: $main-light !important;
    outline: 2px solid $main-dark;
}
.search-page {
    border-radius: 0.5rem;
    width: 3rem;
    color: $main-light;
    background-color: $main-dark;
    padding: 0.5rem 1rem;
    text-align: center;
    outline: none;
    border: none;
    transition: 0.2s ease-in;
}
.search-page:focus {
    width: 5rem;
}
.search-page::placeholder {
    color: $main-light;
}
