@import "../../../scss-variables.scss";

.search-select {
    border: none;
    outline: none;
    background-color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px 2px $shadow-color;
}
