@import "scss-variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif !important;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: "Poppins", sans-serif !important;

    // height: 100vh;
}
#root {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
a {
    text-decoration: none;
}

// $main-dark: #637575;
// $main-light: #edf0ed;
// $text-dark: #1f2429;
// $secondary-dark: #2e3236;
// $text-light: #edf0ed;
// $anime-item: #2482b8;
// $button-color: #3577ff;
// $button-color-hovered: #2b5dc0;

body {
    background-color: $main-light;
    color: $main-dark;
}

button {
    outline: none;
    border: none;
    transition: 0.2s ease-in;
}
button:hover {
}
.button-small {
    padding: 0.25rem 0.75rem;
    border-radius: 0.75rem;
}
.button-medium {
    padding: 0.5rem 1.5rem;
    border-radius: 0.75rem;
    font-size: 1rem;
}
.button-large {
    padding: 1rem 3rem;
    border-radius: 0.75rem;
    font-size: 1.5rem;
}

.item-holder {
    // display: grid;

    display: flex;
    flex-direction: column;
    // grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 1rem;
    max-width: 800px;
    min-width: 200px;
    margin: 3rem 1rem;

    .item {
        color: $main-light;
        border: 1px solid $main-light;
        // border-radius: 0.5rem;
        border-radius: 0.6rem;
        display: flex;
        box-shadow: 0 0 10px 3px $shadow-color;

        img {
            object-fit: cover;
            border-radius: 0.5rem 0 0 0.5rem;
            border-right: 1px solid $anime-highlight;
        }
        .item-body {
            background-color: $main-dark;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            border-radius: 0 0.5rem 0.5rem 0;
        }
    }
}

.see-full-button {
    background-color: $main-cta;
    color: $main-dark;
    border: 2px solid $main-cta !important;
    line-height: 2.5rem;
    transition: 0.2s ease-in;
}
.see-full-button:hover {
    background-color: $main-dark;
    color: $main-cta;
}

.genre-holder {
    button {
        margin: 0.2rem;
    }
}

.title {
    font-size: 1.5rem;
}
.sub-title {
    font-size: 1rem;
}

.description {
    p {
        border: 1px solid $main-dark;
        background-color: $main-dark;
        color: $main-light;
        padding: 0.5rem 1rem;
    }
}

.page-button {
    background-color: $main-dark;
}

.warning {
    margin: 5rem auto;
    font-weight: bold;
    text-align: center;
}
.centered-text {
    text-align: center;
    margin-top: 3rem;
}

.fix-btn {
    margin-top: 2px;
}
.active {
    background-color: $main-light;
    color: $main-dark;
}
.changed-centered {
    width: fit-content;
    margin: auto;
    align-items: center;
    // margin: auto;
}

.FINISHED {
    color: rgb(23, 145, 161);
}
.main-bg {
    background-color: #2e3236;
}

// @media screen and (max-width: 1400px) {
//     .changed-centered {
//         max-width: 60%;
//     }
//     .item-holder {
//         grid-template-columns: repeat(3, 1fr);

//         .item {
//             img {
//                 height: 40vw;
//             }
//         }
//     }
// }
// @media screen and (max-width: 1400px) {
//     .changed-centered {
//         max-width: 70%;
//     }
// }
// @media screen and (max-width: 1000px) {
//     .changed-centered {
//         max-width: 80%;
//     }
// }
// @media screen and (max-width: 600px) {
//     .changed-centered {
//         max-width: 90%;
//     }
// }
