// $main-dark: #637575;
// $main-light: #edf0ed;
// $text-dark: #1f2429;
// $secondary-dark: #2e3236;
// $text-light: #edf0ed;
// $anime-item: #2482b8;
// $button-color: #3577ff;
// $button-color-hovered: #2b5dc0;

$main-dark: #272e2e;
$main-transparent: #272e2e38;
$main-dimmed: #929292;
$main-light: #f9f9fa;
$small-main-light: #bfdee3;
$small-cta: #bfc1e3;
$main-cta: #cbb1fd;

$anime-highlight: #269cd3;

$shadow-color: rgba(102, 102, 102, 0.25);
